@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url('../public/Fonts/Montserrat-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  height: 100svh;
  width: 100%;
}

@layer components {
  .dashboard_items {
    @apply py-2 px-6 w-[16rem] ml-[1rem] rounded-lg hover:bg-blue-400 active:scale-[0.93] active:bg-blue-400 text-blue-400 hover:text-white focus:text-white active:text-white cursor-pointer font-[Montserrat] flex items-center justify-start gap-3 my-1
  }

  .icon_dash {
    @apply h-6 w-6
  }

  .trans {
    @apply transition-all ease-linear duration-[0.3s]
  }

  .file {
    @apply h-full w-full object-contain
  }

  .table {
    @apply grid-cols-smallDev lg:grid-cols-customgrid items-center justify-start
  }

  .table p {
    @apply text-start
  }

  .line {
    @apply w-full h-[1px] bg-blue-400/30
  }

  .mobileHeader {
    @apply w-[15rem] h-auto py-2 rounded-lg flex items-center justify-center focus:bg-blue-400 focus:text-white active:bg-blue-400 active:text-white hover:bg-blue-400 hover:text-white
  }
}

.progressBar {
  transition: all 0.4s ease linear;
}

.progressBar.active {
  animation: bounceLeft 0.5s ease forwards;
}

@keyframes bounceLeft {
  0% {
    right: -20vw;
  }

  100% {
    right: 1vw;
  }
}

@media (min-width: 641px) {
  .upload_under {
    display: none;
  }
}


li {
  text-decoration: none;
}

.table {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 8px;
}