@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url('../public/Fonts/Montserrat-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  height: 100svh;
  width: 100%;
}

@layer components {
  .dashboard_items {
    @apply py-2 px-6 w-[18rem] hover:bg-header_hover text-white/80 cursor-pointer font-[Montserrat] flex items-start justify-start gap-3 active:bg-primary
  }

  .icon_dash {
    @apply h-6 w-6
  }

  .trans {
    @apply transition-all ease-linear duration-[0.3s]
  }
}